section.page.scroll-fade {
  position: relative;

  &::after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20vh;
    pointer-events: none;
    background: linear-gradient(
      to top,
      rgba($color-white, 0.8),
      rgba($color-white, 0)
    );
  }
}
